
body{
    position: relative;
    min-height: 100vh;
}
/**************About*************/
.about{
    /*height: 80vh;*/
}

/************Contact******************/
#contact{
    height: 100vh;
    width: 100%;
}
/**************Experience******************/
.experience{
    margin-bottom: 125px;
}

/**************card*************/
.card-style{
    height: 100%;
}
/*************Footer***************/

.medialinks{
    text-decoration: none;
    color: #f8f9fa;
}

.medialinks:hover{
    color: #f8f9fa;
}

.footer{   
    position: absolute;
    bottom: 0;
    margin-top: 200px;
}

.intro-h1 {
    margin-top: 2%;
}

.skills{
   margin-bottom: 125px;
}

@media(max-width: 768px) {

    /*******about*******/
    .content-text{
        font-size: 12px;
    }
    
}


